# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
MemoryCaptures/
*.stacktrace

# =========== #
# Asset store #
# =========== #
Assets/AssetStoreTools*

# ===================== #
# VS, VSCode, JetBrains #
# ===================== #
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============= #
# Crash reports #
# ============= #
sysinfo.txt

# =============== #
# Logs / analytics #
# =============== #
Logs/
.vs/Assignment_Great_Jumper/FileContentIndex/0d3d579b-d005-4fa8-a8ac-415d4bf257a5.vsidx
.vs/Assignment_Great_Jumper/FileContentIndex/73e0e66c-6e85-4d55-a81c-02be0e00423b.vsidx
.vs/Assignment_Great_Jumper/FileContentIndex/7bcc93bf-b03b-487f-97c1-cd221f35f11b.vsidx
.vs/Assignment_Great_Jumper/FileContentIndex/cfcb2e45-9906-41c6-a064-b034a4dadf48.vsidx
.vs/Assignment_Great_Jumper/FileContentIndex/d44ffea3-cf66-4f59-84d0-c045835d54e9.vsidx
